.header-main {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    background-color: #8D1436;
    color: white;
}

.header-right{
    padding: 10px
}

.header-user{
    position: relative;
    top: -7px;
    padding: 20px;
}

.header-dp{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.header-caret{
    padding-left: 5px;
    transition: filter 300ms;
    fill: white;
}

.header-caret:hover{
    fill: gray;
}