.Header{
    width: 100vw;
    height: 100px;
    border-bottom: solid 1px;
    font-family: 'Segoe UI';
    background-color: #800D0D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;

}
.header.wrapper{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-logo{
    margin-top:5%;
    border-radius:5%;
}

.header-logo h2{
    color: aliceblue;
}

.uplb-logo{
    width: 20%;
    height: 20%;
    padding: 5%;
}


