.details-popup-box{
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 60%;
    background-color:white;
    box-shadow: 0px 0px 2px 2px #888888;
    border-radius: 10px;
    text-align: left;
}

.details-text{
    margin: 25px 0px 15px 25px;
    font-size: 16px;
    font-family: Helvetica;
}

.format-text{
    margin: 10px 0px 15px 25px;
    font-size: 12px;
    font-family: Helvetica;
    font-style: italic;
    color: #888888;
}

.details-area{
    resize: none;
    outline: none;
    font-family: Helvetica;
    font-size: 14px;
    line-height: 1.5;
    background-color: rgb(230,230,230);
    border: 0.5px solid gray;
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;
    margin-left: 4%;
    width: 89%;
    height: 50%;
    
}

.character-count{
    margin-top: 0px;
    margin-left: 90%;
    margin-bottom: 0px;
}

.details-buttons{
   text-align: center;
    width:auto;
}

.details-confirm-btn{
    cursor: pointer;
    background-color: #00563F;
    color: white;
    padding: 8px 25px;
    outline:none;
    border:none;
    border-radius: 5px;
}

.details-cancel-btn{
    cursor: pointer;
    background-color:gray;
    color: white;
    padding: 8px 27px;
    outline:none;
    border:none;
    border-radius: 5px;
    margin-right: 10%;
}

.details-confirm-btn:hover{
    opacity:0.8;
}

.details-cancel-btn:hover{
    opacity:0.8;
}