.outer-container{
    background-color: rgb(240, 240, 240);
    width: 100%;
    height:100%;
    position:fixed;
    top:60px;
}

.box-header{
    text-align: left;
    margin-left: 5%;
    font-size: 30px;
    font-weight: 800;
    color: #8D1436;
    font-family: Palatino Linotype,Palatino LT STD;
    margin-top: 20px;
    margin-bottom: 20px;
}

hr{
    height: 0.1px;
    border-width: 0;
    color: #888888;
    background-color: #888888;
    opacity: 0.4;
}

.reset-box{
    font-family: 'Segoe UI';
    background-color: #ffffff;
    height: auto;
    width: 40%;
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 42%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 1px 1px 1px #888888;
}

.email-box{
    margin-left: 5%;
    margin-right: 2%;
}


.email-box p{
    margin-top: 20px;
    font-size: 14px;
}

.email-reset{
    padding: 7px;
    margin : 1px;
    width : 75%;
    font-family: Optima;
    outline:none;
    border: 1px solid gray;
    margin-bottom:20px;
    border-radius: 5px;
    font-size: 14px;
}

.reset-pass-box{
    margin-left: 5%;
    margin-top: 20px;
    color:black;
}

.fields-reset1{
    padding: 7px;
    margin : 1px;
    width : 55%;
    font-family: Optima;
    outline:none;
    border: 1px solid gray;
    margin-bottom:15px;
    border-radius: 5px;
    margin-left: 7.5%;
    font-size: 14px;
    color: black;
}

.fields-reset2{
    padding: 7px;
    margin : 1px;
    width : 55%;
    font-family: Optima;
    outline:none;
    border: 1px solid gray;
    margin-bottom:10px;
    border-radius: 5px;
    margin-left: 3%;
    font-size: 14px;
    color: black;

}

.notice{
    margin-top: 10px;
    font-size: 14px;
    margin-right: 5%;
    margin-bottom: 15px;
    font-style: italic;
}

.fields-reset3{
    padding: 7px;
    margin : 1px;
    width : 55%;
    font-family: Optima;
    outline:none;
    border: 1px solid gray;
    margin-bottom:5px;
    border-radius: 5px;
    margin-left: 21.2%;
    font-size: 14px;
}

.otp-button{
    border: none;
    outline: none;
    width : 15%;
    font-size: 15px;
    background-color: #00563F;
    border-radius: 7px;
    color:#fcfff6;
    font-weight: bold;
    padding:6px;
    margin-left: 3%;
    cursor:pointer;
}

.sub-button{
    border: none;
    outline: none;
    width : 25%;
    font-size: 15px;
    background-color: #00563F;
    border-radius: 7px;
    color:#fcfff6;
    font-weight: bold;
    padding:7px;
    margin-left: 10%;
    cursor:pointer;
}

.disabled-sub-button{
    border: none;
    outline: none;
    width : 25%;
    font-size: 15px;
    background-color: gray;
    border-radius: 7px;
    color:#fcfff6;
    font-weight: bold;
    padding:7px;
    margin-left: 10%;
}

.cancel-button{
    border: none;
    outline: none;
    width : 20%;
    font-size: 15px;
    background-color: gray;
    border-radius: 7px;
    color:#fcfff6;
    font-weight: bold;
    padding:7px;
    margin-top: 5%;
    cursor:pointer;
    margin-bottom: 5%;
}

.eyebtn{
    position: absolute;
    cursor: pointer;
    left: 550px;
    margin-top: -40px;
}

.reset-buttons{
    display: inline;
    margin-left: 23%;
}

@media screen and (min-width:  1920px) {
    .box-header{
        font-weight: 800;
        font-size: 36px;
        margin-top: 25px;
        margin-bottom: 25px;
    }
    .reset-box{
        width: 35%;
    }
    
    .email-box p{
        margin-top: 25px;
        font-size: 16px;
    }
    
    .email-reset{
        margin-bottom:25px;
        font-size: 16px;
    }
    
    .reset-pass-box{
        margin-left: 5%;
        margin-top: 25px;
    }

    .reset-pass-box b{
        font-size: 17px;
    }
    
    .fields-reset1{
        margin-bottom:20px;
        margin-left: 8%;
        font-size: 16px;
    }
    
    .fields-reset2{
        margin-bottom:20px;
        margin-left: 3.6%;
        font-size: 16px;
    }
    
    .notice{
        margin-top: 10px;
        font-size: 16px;
        margin-right: 5%;
        margin-bottom: 20px;
    }
    
    .fields-reset3{
        margin-bottom:10x;
        margin-left: 21.7%;
        font-size: 16px;
    }

    .eyebtn{
        position: absolute;
        cursor: pointer;
        left: 650px;
        margin-top: -50px;
    }
    
.otp-button{
    font-size: 17px;
}

.sub-button{
    font-size: 17px;
}

.disabled-sub-button{
    font-size: 17px;
}

.cancel-button{
    font-size: 17px;
}

    
}