.home-bar{
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position:fixed;
    margin-top: 3%;
}

.home-name{
    font-size: 23px;
    font-weight: bold;
    color: #3f3f3f;
    position:fixed;
    top: 80px;
    left: 75px;
}

.home-icon{
    font-size: 30px;
    color:#3f3f3f;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position:fixed;
    margin-top: 1%;
    margin-left: 2%;
    cursor: pointer;
}

.menu-navbar{
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position:fixed;
    margin-top: 7.2%;
}

.menu-bars{
    margin-left: 2rem; 
    font-size: 1.8rem;
    background: none;
    /* margin-bottom: 20px; */
}

.menu-icon{
    fill: #3f3f3f;
}

.menu-name{
    font-size: 23px;
    font-weight: bold;
    color: #3f3f3f;
    position:fixed;
    top:130px;
    left: 75px;
}

.menu-side{
    background-color: rgb(222, 222, 222);
    width: 250px;
    height: 100vh;
    display: flex; 
    justify-content: flex-start;
    position: fixed;
    top: 60px;
    left: -100%;
    transition: 850ms;
    padding-top: 20px;
}

.menu-side.active{
    left: 0;
    transition: 350ms;
}

.menu-side-item{
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding: 8px;
    list-style: none;
    height: 30px;
}

.menu-side-item a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 8px;
    border-radius: 4px;
    
}

.menu-side-item a:hover{
    background-color: gray;
}

.menu-side-items{
    width: 100%;
}

.menu-navbar-toggle{
    display: flex;
    justify-content: flex-start;
    align-items: left;
    margin-top: -30px;
    margin-left: -35px;
}

.menu-span{
    margin-left: 8px;
}

ul{
    padding:20px;
}

.entity-title{
    color: #3f3f3f;
}

.invisible{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    opacity: 1;
}

@media screen and (min-width: 1920px) {

    .menu-navbar{
        margin-top: 175px;
    }

    .menu-side{
        top: 75px;

    }

    .menu-name {
        margin-top: 62px;
        font-size: 28px;
    }

    .home-bar{
        height: 120px;
    }

    .home-name{
        font-size: 28px;
        margin-top: 38px;
    }
    
    .home-icon{
        font-size: 40px;
        color:#3f3f3f;
        height: 80px;
        display: flex;
        justify-content: flex-start;
        margin-top: 1.5%;
        margin-left: 1.5%;
        cursor: pointer;
    }
}