@media print{
    @page { 
        margin: 85px 0px ;     
      }
      
    /* body {
    margin: 0;
    padding: 0;
    }
   body {margin-top: 50mm; margin-bottom: 50mm; 
        margin-left: 0mm; margin-right: 0mm} */
       
    .view-print-preview{
        margin-top: 0.5in;
        margin-bottom: 1in;
        margin-left: 0.7in;
        margin-right: 0.5in;
    }

    .univ-logo{
        height: 75px;
        position: relative;
        top: -40px;
        left:0;
    }

    .college-logo{
        height: 80px;
        position: relative;
        top: -40px;
        left:76.5%;
    }


    .view-print-table{
        margin-top: -140px;
        width:100%;
        margin-left: auto;
        margin-right: auto;
        border-spacing: 0 5px;
        border-collapse: collapse;  
    }

    .watermark-text{
        transform: rotate(-30deg);
        margin-left: auto;
        margin-right: auto;
        color: #8D1436;
        font-size: 130px;
        opacity: 0.2;
        position:fixed;
        font-weight: bold;
        top: 20%;
        left: 19%;
    }
    .watermark-textt{
        transform: rotate(-30deg);
        margin-left: auto;
        margin-right: auto;
        color: #8D1436;
        font-size: 130px;
        opacity: 0.2;
        position:fixed;
        font-weight: bold;
        top: 65%;
        left: 19%;
    }
    .summary-title{
        text-align: center;
        position:relative;
        top:-130px;
        margin: 0px;
    }
    .term-details{
        text-align: center;
        position:relative;
        top:-125px;
        margin: 0px;
        font-size: 22px;
    }
    .filter{
        text-align: center;
        position:relative;
        top:-140px;
    }
    .system-watermark{
        transform: rotate(-90deg);
        position:fixed;
        top: 50%;
        left:-250px;
        opacity:0.6;
    }
    .view-print-element{
        page-break-inside: avoid;
        margin-top: 20px;
        font-size: 15px;
    }
    
    .view-print-thead{
        text-align: center;
        font-family: Palatino Linotype,Palatino LT STD;
        font-size: 16px;
    }
    
    .view-print-cell-header, .view-print-element td{
        border: 1px solid black; 
        padding:7px;
    }
    
    
    .view-print-tbody{
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .name-cell{
        text-align: left;
        padding: 5px;
    }
    
    .gwa-cell{
        text-align: center;
        padding: 5px;
    }
    
    .degree-cell{
        text-align: center;
        padding: 5px;
    }
    .latin-cell{
        text-align: center;
        padding: 5px;
    }

    
}
/* .view-print-preview{
    margin: 5%;
    overflow-y: hidden;
}

.view-print-table{
    table-layout: fixed;
    width:100%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0 10px;
    border-collapse: collapse;
    page-break-inside: auto;
    
}

.view-print-element{
    page-break-inside: avoid;
    page-break-after: auto;
}

.view-print-thead{
    text-align: center;
    font-family: Palatino Linotype,Palatino LT STD;
    font-size: 12px;
}


.view-print-cell-header, .view-print-element td{
    border: 1px solid black; 
}


.view-print-tbody{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.name-cell{
    text-align: left;
}

.gwa-cell{
    text-align: center;
}

.degree-cell{
    text-align: center;
}

.watermark-text{
    transform: rotate(-30deg);
    margin-left: auto;
    margin-right: auto;
    color: #8D1436;
    font-size: 130px;
    opacity: 0.5;
    position:fixed;
    top: 30%;
    left: 7%;
}
 */
