.settings-box{
    position: absolute;
    top: 80px;
    right: 20%;
    width: 200px;
    height: auto;
    background-color:#fafafa;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px #888888;
    padding: 10px;
    z-index: 2;

}

.settings-popup-box{
    position: fixed;
    top: 40%;
    left: 39%;
    width: 22%;
    height: auto;
    background-color:white;
    box-shadow: 0px 0px 2px 2px #888888;
    border-radius: 4px;
    text-align: center;
}

.edit-button{
    text-align: center;
    outline:none;
    border:none;
    padding: 10px;
    margin: 0px;
    background: none;
    width: 100%;
    font-family:Segoe UI;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button:hover{
    background-color: #e9e9e9;
}

.setting-fields{
    width: 75%;
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
}

.setting-fields-number{
    width: 75%;
    padding: 10px;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
    margin-bottom: 10px;
}



.popup-buttons{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.confirm{
    background-color: #8D1436;
    color: white;
    padding: 8px;
    outline:none;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

.cancel{
    background-color:gray;
    color: white;
    padding: 8px;
    outline:none;
    border:none;
    border-radius: 5px;
    margin-right: 15%;
    cursor: pointer;
}

.username-box{
    margin-top:9%;
    height: auto;
}


.pass-valid-note{
    margin-top: 10px;
    font-size: 12px;
    color: rgb(137, 137, 137);
}

.password-box{
    margin-top:2%;
}

#new-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.number-prompt{
    margin-right: 2%;
}

.user-photo{
    /* height: 120px;
    margin-right: 15px;
    margin-top: 5px;; */
    margin-left: 20%;
    position: fixed;
    margin-right: 15px;
    object-fit: cover;
    width: 120px;
    height: 120px;
    border-radius: 60px; 
}

.user-back-icon{
    position: fixed;
    left: 16%;
    margin-top: 66px;
    cursor: pointer;
    color: gray;
}

.user-back-icon:hover{
    color: rgb(80, 80, 80);
}

.profile-title{
    text-align: left;
    color: #383838;
    font-family: Palatino Linotype,Palatino LT STD;
    font-size: 30px;
    margin-top: 60px;
    padding-top: 10px;
    margin-bottom: 0px;
    margin-left: 30%;
}

.profile-line{
    text-align: center;
    width: 60%;
    margin-top: 100px;
    z-index:1;
}
.user-role{
    position: fixed;
    margin-top: 75px;
    margin-left: 20%;
    border: 2px solid #00563F;
    text-align: center;
    padding: 5px;
    width: 105px;
    font-weight: bold;
    border-radius: 10px;
}

.username{
    position: absolute;
    margin-top: 0px;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;;
    margin-left: 30%;
}

.contact-info{
    position:fixed;
    left: 30%;
    top: 180px;
    padding-left:0;
}

.contact-info li{
    display: inline-block;
    margin: 0 280px 0 0px;
    outline:none;
    font-size: 19px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-info li span{
    position: absolute;
    margin-top: 0px;
}

.contact-icon, .contact-icon-phone{
    margin: 0px;
    color:#888888;
    margin-right: 10px;
}
.settings-icon{
    position: absolute;
    right: 20%;
    top: 70px; 
    color:#6b6b6b;
    cursor:pointer;
    border:none;
    outline:none;
    background: none;
    cursor: pointer;
}

.settings-icon:hover{
    color:#383838;
}

.user-logs-title{
    margin: 0px 10px;
    margin-left: 20%;
    font-weight: bold;
    font-family: Palatino Linotype,Palatino LT STD;
    font-size: 22px;
    color: #8D1436
}

.deleted-user-watermark{
    position:fixed;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    color: rgba(141, 20, 54, 0.4);
    font-weight: 600;
    font-size: 300%;
}

.eyeProfile{
    position: absolute;
    margin-top: -12%;
    margin-left: 250px;
    height: 40px;
    cursor:pointer;
}

.eyeProfile1{
    position: absolute;
    margin-top: -12%;
    margin-left: 112.5px;
    height: 40px;
    cursor:pointer;
}

@media screen and (min-width:  1920px) {
    .eyeProfile{
        /* position: absolute; */
        /* margin-top: -10%; */
        /* margin-left: 310px; */
        /* height: 30px; */
        /* cursor:pointer; */
        transform: scale(120%);
        margin-top: -40px;
        margin-left: 295px;

        /* transform: scale(120%);
        margin-top: -11%;
        margin-left: 75%; */
    }
    
    
    .eyeProfile1{
        /* position: absolute;
        margin-top: -10%;
        margin-left: 140px;
        height: 40px;
        cursor:pointer; */

        transform: scale(120%);
        margin-top: -40px;
        margin-left: 135px;

        /* transform: scale(120%);
        margin-top: -11%;
        margin-left: 35%; */
    }

    .settings-box{
        transform: scale(130%);
        /* margin-top: 5%; */
        margin-top: 100px;

    }
    
   .settings-popup-box{
        /* width: 20%;
        height: auto;
        transform: scale(110%); */

        width: 400px;
        height: auto;
        transform: scale(110%);
    }
    
    .edit-button{
        transform: scale(105%);
    }
        
    .setting-fields{
        transform: scale(110%);
        margin-top: 18px; /*3%*/
        font-size: 15px;
    }

   
    .setting-fields-number{
        margin-top: 18px;
        font-size: 16px;
    }
    .popup-buttons{
        transform: scale(120%);
        /* margin-top: 5%;
        margin-bottom: 7%; */
        
        margin-top: 20px;
        margin-bottom: 25px;

    }
    
    .username-box{
        /* margin-top: 6%; */
        margin-top: 20px;
        height: auto;
    }

    .pass-valid-note{
        margin-top: 10px;
        font-size: 12px;
        color: rgb(137, 137, 137);
    }

    .password-box{
        /* margin-top: 6%; */
        margin-top: 20px;
        height: auto;
    }

    
    .number-prompt{
        /* margin-right:1%; */
        margin-right: 5px;
    }  

    .change-popup-text{
        transform: scale(115%);
    }
    
    .user-photo{
        /* margin-top: 3%;  */
        /* margin-left: 21%; */
        object-fit: cover;
        /* width: 120px;
        height: 120px; */
        margin-top: 50px;
        margin-left: 410px;
        transform: scale(130%);
    }
        
    .profile-title{
        font-size: 40px;
        /* padding-top: 2.5%; */
        padding-top: 45px;
        /* margin-left: 30%; */
        margin-left: 580px;
    }
    
    .profile-line{
        /* text-align: center; */
        /* width: 60%; */
        width: 1150px;
        /* margin-top: 8%; */
        margin-top: 150px;
    }

   
    .user-role{
        /* margin-top: 5.5%;
        margin-left: 21%;  */

        margin-top: 100px;
        margin-left: 410px; 
        transform: scale(140%);
    }
 
    .user-back-icon{
        margin-top: 100px;
        height: 125%;
    }
    
    .username{
        /* position: absolute; */
        margin-top: 0px;
        font-size: 30px;
        /* margin-left: 30%; */
        margin-left: 580px;
    }

    .contact-info{
        margin-left: 8px;
    }


  
    .contact-info li span{
        /* position: absolute;
        margin-top: 0px; */
        margin-top: 70px;
        font-size: 23px;
        /* font-weight: 500; */
    }
     
    .contact-icon, .contact-icon-phone{
        /* margin: 0px; */
        /* color:#888888; */
        margin-right: 14px;
        /* margin-top: 12%; */
        margin-top: 70px;
        transform: scale(125%);
    }

    .contact-icon-phone{
        margin-left: 50px;
    }

     
    .settings-icon{
        transform: scale(135%);
        right: 390px;
        top: 120px;
    }
   
     
    .user-logs-title{
        margin-bottom: 20px;
        margin-top: 10px;
        font-size: 30px;
    }

    .view-log-preview{
        font-size: 20px;
    }

}