.popup-box{
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 55%;
    background-color:white;
    box-shadow: 0px 0px 2px 2px #888888;
    border-radius: 10px;
    text-align: left;
}

.details-text{
    margin: 25px 0px 15px 25px;
    font-size: 16px;
    font-family: Helvetica;
}

.prompts-container{
    font-family: Helvetica;
    font-size: 17px;
    line-height: 1.5;
    background-color: rgb(230,230,230);
    border: 0.5px solid gray;
    overflow-y: auto;
    padding: 10px;
    border-radius: 5px;
    margin-left: 4%;
    width: 89%;
    height: 50%;
}

.close-buttons{
    margin-top: 30px;
    width:auto;
    text-align: center;
}

.close-btn{
    cursor: pointer;
    background-color:gray;
    color: white;
    padding: 8px 27px;
    outline:none;
    border:none;
    border-radius: 5px;
}

.prompt-element{
    text-align: left;  
}
.prompt-cell-success{
    background-color: white;
    word-break:normal;
    padding: 5px;
    border-bottom: 10px solid rgb(230,230,230);
    margin: 0px;
}
.prompt-cell-error{
    background-color: rgba(141, 20, 54, 0.2);
    word-break:normal;
    padding: 5px;
    border-bottom: 10px solid rgb(230,230,230);
    margin: 0px;
}
.prompts-container::-webkit-scrollbar {
    width: 12px;
}
.prompts-container::-webkit-scrollbar-thumb {
    background-color: #bdbdbd;
    border-radius: 8px;
    background-clip: padding-box;
}

.prompts-container::-webkit-scrollbar-thumb:hover{
    background-color: #aaaaaa;
}

@media screen and (min-width:  1920px) {
 
    .details-text{
        margin: 25px 0px 15px 25px;
        font-size: 19px;
        font-family: Helvetica;
    }
    .close-buttons{
        margin-top: 14px;
        font-size: 20px;
        width:auto;
        height:auto;
        text-align: center;
    }
    .close-btn{
        cursor: pointer;
        background-color:gray;
        color: white;
        padding: 15px 60px;
        outline:none;
        border:none;
        border-radius: 5px;
        font-size: 20px;
    }
    .prompts-container{
        font-family: Helvetica;
        font-size: 28px;
        line-height: 1.5;
        background-color: rgb(230,230,230);
        border: 0.5px solid gray;
        overflow-y: auto;
        padding: 10px;
        border-radius: 5px;
        margin-left: 4%;
        width: 89%;
        height: 70%;
    }
} 

