.view-summary-body{
    background-color: white;
    position: fixed;
    width: 100%;
    height: 100%;
}

.view-summary-header span{
    margin: 0;
    margin-left: 3%;
    font-size: 40px;
    color: #8d1436;
    font-family: Palatino Linotype,Palatino LT STD;

}

.view-summary-header{
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
    margin-left: 9.5%;
    width: 90%;
}

.view-summary-list{
    position:fixed;
    left: 69%;
    top: 110px;
}

.view-summary-list li{
    display: inline-block;
    margin: 0 5px;
    outline:none;
}

.view-summary-search{
    background-color: #00563f;
    margin: 5px;
    margin-left: 12.5%;
    height: 40px;
    align-items: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    width: 75%;
}

.view-summary-sicon{
    margin-left: 12px;
    color: whitesmoke;
}

.view-summary-sicon:hover{
    fill: gray;
}

.view-summary-line{
    height: -1px;
    margin-top: 0px;
    width: 76%;
}

.view-summary-input{
    height: 25px;
    width: 153vh;
    margin-left: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}


.summary-dropdown{
    background-color: rgb(211, 211, 211);
    outline:none;
    border: none;
    border-radius: 10px;
    padding: 2px;
    font-family: Helvetica; 
}

.view-summary-preview{
    margin: 0 auto;
    background-color: rgb(185, 181, 181);
    height: 390px;
    width: 75%;
    border-radius: 5px;
}

.view-summary-table{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0 10px;
}

.view-summary-thead{
    display: block;
}
.view-summary-tbody{
    display: block;
    height: 310px;
    overflow-y: auto;
    padding-right: 30px;
    padding-left: 30px;
}

.view-summary-element{
    background-color: white;
}

.view-summary-cell{
    text-align: center;
    height: 40px;
    margin-bottom: 10px;
    width: 330px;
} 

.view-summary-cell-header{
    text-align: center;
    width: 330px;
} 

.summary-tile{
    text-decoration: none;
    color: black;
}
