.view-student-body{
    background-color: white;
    width: 100%;
    height: 100%;
    position:fixed;
    top:60px;
}

.view-student-list{
    position:fixed;
    left: 58%;
    top: 110px;
}

.view-student-list li{
    display: inline-block;
    margin: 0 5px;
    outline:none;
}

.view-student-dropdown{
    background-color: rgb(211, 211, 211);
    outline:none;
    border: none;
    border-radius: 10px;
    padding: 2px;
    font-family: Helvetica;
}
option{
    background-color: white;
}

.student-details{
    text-decoration: none;
    color:black;
    background-color: whitesmoke;
}

.view-student-search{
    background-color: #00563f;
    margin: 5px;
    height: 40px;
    margin-left: 16.5%;
    align-items: center;
    display: flex;
    border-radius: 8px;
    width: 67%;
    padding: 1px;
}

.search-icon{
    margin: 10px;
    color: whitesmoke;
}

.search-icon:hover{
    fill: #DE9720;
}

.view-student-input{
    height: 25px;
    width: 185vh;
    margin-left: 5px;
    border-radius: 7px;
    border: none;
    outline: none;
    padding-left: 15px;
}



.view-student-preview{
    margin-top: 10px;
    background-color: rgb(206, 206, 206);
    height: 50%;
    border-radius: 8px;
    width: 67%;
    margin-left: 16.5%;
}

.view-student-table{
    height: 20%;
}

.view-student-thead{
    display: block;
    font-family: Palatino;
    margin-top: 10px;
    text-align: left;
}

.name-header{
    text-align: center;
    width: 480px;
} 

.studno-header{
    width: 270px;
} 

.degree-header{
    width: 320px;
} 

.view-student-tbody{
    display: block;
    height: 250px;
    overflow-y: auto;
    padding-right: 30px;
    padding-left: 30px;
}

.view-student-element{
    background-color: #fcfff6;
    text-align: center;
    width: 100%;
}

.name-cell{
    width: 600px;
    padding: 7px;
} 

.studno-cell{
    text-align: center;
    padding: 7px;
    width: 28%;
} 

.degree-cell{
    text-align: center;
    padding: 7px;
    width: 28%;
} 


.view-student-edit-icon{
    padding-left: 10px;
    padding-right: 10px;
    color: black;
    padding-top: 12px;
}

.view-student-edit-icon:hover{
    fill: gray;
}

.student-tile{
    text-align: left;
    text-decoration: none;
    color: black;
}