.log-title{
    text-align: left;
    margin-top: 120px;
    margin-left: 8%;
    margin-bottom: 0;
    color: #8D1436;
    font-family: Palatino;
    font-size: 30px;}
    
.view-line{
    width:80%;
}
.view-logs{
    margin-left:80px;
}

.view-logs-body{
    background-color: white;
    width: 100%;
    height:100%;
    position:fixed;
    top:20px;
    overflow-y: scroll;
}

.view-logs-header{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 940px;
    margin-left: 80px;
}

.log-tile{
    text-align: left;
    margin-top: 40px;
    margin-left: 16.5%;
    margin-bottom:10px;
    color: #8D1436;
    font-family: Palatino;
    font-size: 30px;
}

.view-log-preview{
    margin-top: 1%;
    background-color: rgb(206, 206, 206);
    height: 50%;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 2%;
}

.view-log-table{
    height: 20%;
}

.view-log-thead{
    display: block;
    font-family: Palatino;
    margin-top: 10px;
    text-align: left;
}

.user-header{
    text-align: center;
    width: 25%;
} 
.time-header{
    text-align: center;
    padding: 7px;
    width: 29%;
} 

.activity-header{
    text-align: center;
    padding: 7px;
    width: 37%;

} 

.details-header{
    text-align: center;
    padding:10px;
    width: 38%;

} 

.view-log-tbody{
    display: block;
    height: 250px;
    overflow-y: auto;
    padding-right: 30px;
    padding-left: 30px;
}

.view-log-element{
    background-color: white;
    text-align: center;
    width: 100%;
}

.user-cell{
    width: 600px;
    padding: 7px;
} 

.time-cell{
    text-align: center;
    padding: 7px;
    width: 28%;
} 

.activity-cell{
    text-align: center;
    padding: 7px;
    width: 28%;
} 

.details-cell{
    text-align: center;
    padding: 7px;
    width: 28%;
} 
.filter-list{
    position:fixed;
    left: 64%;
    top: 19%;
    list-style-type:none;
}

.filter-list li{
    display: inline-block;
    margin: 0 5px;
    outline:none;
}

.view-dropdown{
    background-color: rgb(211, 211, 211);
    outline:none;
    border: none;
    border-radius: 10px;
    padding: 2px;
    font-family: Helvetica;
}

.text-download{
    text-decoration: none;
    color: black;
    background-color: rgb(211, 211, 211);
    padding: 3px;
    border-radius: 10px;
    font-size: 13px;
    text-align: center;
    font-family: Helvetica;
}

.no-logs{
    margin-left: 33%;
    font-family: Optima;
    width: 400px;
    border-color: #9e9e9e;
    border-style: solid;
    border-width: 10px;
    padding: 10px;
    margin-bottom:10px;
    display:flex;
}

.search-button{
    margin-top: 3px;
    border: none;
    position:absolute;
    width: 60px;
    color: #fcfff6;
    background-color: #00563F;
    height: 39px;
    border-radius: 10px;
    cursor:pointer;
}

.search-field{
    border: 10px solid #00563F;
    background-color: #00563F;
    border-radius: 10px;
    margin-left: 10%;
    margin-bottom: 10px;
    width: 79%;
    position: relative;
}

.input-search{
    text-align: left;
    width : 90%;
    height: 18%;
    font-family: Optima;
    font-size: 20px;
}

.search-button{
    border: none;
    position:absolute;
    width: 60px;
    color: #fcfff6;
    background-color: #00563F;
    height: 10px;
    border-radius: 10px;
    cursor:pointer;
    margin-left: 2%;
}
.search-button:hover{
    color: lightgray;
}

.icon{
    font-size: 20px;
}

